<%- include("./partials/header") %>
<%- include("./partials/nav") %>

<div class=" w-full h-[90vh]  p-2">
  <div class="absolute top-12 h-[90vh]  w-3/4 ">
    <div class="font-semibold text-white mt-20">
      <h1 class="text-8xl text-black ml-20 mb-10 leading-normal	">Welcome To Blog Website</h1>
      <a class="px-3 py-1 hover:decoration-dashed  text-black rounded-sm mt-1 text-[25px] font-semibold ml-20 mt-8 hover:border-b-2 border-black " href="/createuser">Register</a>
    <a class="px-3 py-1 hover:decoration-dashed text-black rounded-sm mt-1 text-[25px] font-semibold border-b-2 border-black ml-4" href="/Login">login</a>
    </div>
  </div>
  </div>
</div>

<%- include("./partials/footer") %>